.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navIcon {
  color: #000;
  font-size: 30px;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  margin-left: 70px;
  font-weight: 900;
}

.logoutButton {
  margin-right: 15px;
}
